# Analyzing US Population and Wikipedia Articles for Cities

## Introduction 

In this Jupyter notebook we perform a series of API calls to gather data from the Wikipedia endpoints. We also use the population data and list of US cities by state present in the data folder. After merging all three datasets we are set to analyze the correlation between US population and Wikipedia Articles.

## 1. Import Necessary Libraries

#### We begin by importing crucial Python libraries to facilitate our analysis:

In [2]:
# Import necessary libraries
import pandas as pd
import json, time
import requests
import concurrent
from threading import Lock

# Initialize a lock to synchronize access to shared resources
lock = Lock()

## 2. Loading and Preprocessing Data

#### In this section, we focus on loading CSV files containing data about US cities, populations, and regions. We preprocess the data to remove irrelevant columns, handle missing values, and prepare it for further analysis.

Loading CSV files into DataFrames for city, population, and region data.

In [3]:
# Load CSV files into DataFrames for city, population, and region data
cities_csv_file_path = 'data/us_cities_by_state_SEPT.2023.csv'
city_data = pd.read_csv(cities_csv_file_path)

pop_csv_file_path = 'data/NST-EST2022-ALLDATA.csv'
pop_data = pd.read_csv(pop_csv_file_path)

reg_csv_file_path = 'data/US States by Region - US Census Bureau.xlsx'
reg_data = pd.read_excel(reg_csv_file_path)

Preprocessing region data by filling missing values and dropping rows with NaN in 'STATE' column.

In [4]:
# Preprocess region data: fill missing values and drop rows with NaN in 'STATE' column
reg_data['REGION'] = reg_data['REGION'].fillna(method='ffill')
reg_data['DIVISION'] = reg_data['DIVISION'].fillna(method='ffill')
reg_data.dropna(subset=['STATE'], inplace=True)
reg_data.head()

      REGION     DIVISION          STATE
2  Northeast  New England    Connecticut
3  Northeast  New England          Maine
4  Northeast  New England  Massachusetts
5  Northeast  New England  New Hampshire
6  Northeast  New England   Rhode Island

Preprocessing population data by removing unnecessary columns.

In [5]:
# Remove unnecessary columns from population data
columns_to_remove = ['NPOPCHG_2020', 'NPOPCHG_2021', 'NPOPCHG_2022',
                     'BIRTHS2020', 'BIRTHS2021', 'BIRTHS2022',
                     'DEATHS2020', 'DEATHS2021', 'DEATHS2022',
                     'NATURALCHG2020', 'NATURALCHG2021', 'NATURALCHG2022',
                     'INTERNATIONALMIG2020', 'INTERNATIONALMIG2021', 'INTERNATIONALMIG2022',
                     'DOMESTICMIG2020', 'DOMESTICMIG2021', 'DOMESTICMIG2022',
                     'NETMIG2020', 'NETMIG2021', 'NETMIG2022',
                     'RESIDUAL2020', 'RESIDUAL2021', 'RESIDUAL2022',
                     'RBIRTH2021', 'RBIRTH2022',
                     'RDEATH2021', 'RDEATH2022',
                     'RNATURALCHG2021', 'RNATURALCHG2022',
                     'RINTERNATIONALMIG2021', 'RINTERNATIONALMIG2022',
                     'RDOMESTICMIG2021', 'RDOMESTICMIG2022',
                     'RNETMIG2021', 'RNETMIG2022','SUMLEV','REGION','DIVISION','STATE',
                     'ESTIMATESBASE2020','POPESTIMATE2020','POPESTIMATE2021']

pop_data.drop(columns=columns_to_remove, inplace=True)
pop_data.head()

               NAME  POPESTIMATE2022
0     United States        333287557
1  Northeast Region         57040406
2       New England         15129548
3   Middle Atlantic         41910858
4    Midwest Region         68787595

Identifying entries in the Population table not present in the Regional CSV.

In [6]:
# Identify entries in the Population table not present in the Regional CSV
entries_not_in_first = pop_data[~pop_data['NAME'].isin(reg_data['STATE'])]

print("\nEntries in the Population table not in the Regional CSV:")
print(entries_not_in_first)

Entries in the Population table not in the Regional CSV:
                    NAME  POPESTIMATE2022
0          United States        333287557
1       Northeast Region         57040406
2            New England         15129548
3        Middle Atlantic         41910858
4         Midwest Region         68787595
5     East North Central         47097779
6     West North Central         21689816
7           South Region        128716192
8         South Atlantic         67452940
9     East South Central         19578002
10    West South Central         41685250
11           West Region         78743364
12              Mountain         25514320
13               Pacific         53229044
22  District of Columbia           671803
65           Puerto Rico          3221789

## 3. Merging Population and Region Data
#### Next, we merge population data with region information based on common attributes like state names. This enables a comprehensive view of how the population is distributed across various regions of the US.

Merging population and region data based on 'NAME' and 'STATE'. Rename columns for consistency and drop columns which are not required.

In [49]:
# Merge population and region data based on 'NAME' and 'STATE'
data = pd.merge(pop_data, reg_data, left_on='NAME', right_on='STATE', how='inner')
data['REGION_DIVISION'] = data['REGION'] + '_' + data['DIVISION']
data.rename(columns={'POPESTIMATE2022': 'Population'}, inplace=True)

data.drop(columns=['NAME', 'REGION', 'DIVISION'], inplace=True)
data.head()

   Population       STATE           REGION_DIVISION
0     5074296     Alabama  South_East South Central
1      733583      Alaska              West_Pacific
2     7359197     Arizona             West_Mountain
3     3045637    Arkansas  South_West South Central
4    39029342  California              West_Pacific

Preprocessing city data by dropping duplicates, removing unnecessary columns, and adding columns for revision_id and prediction.

In [8]:
# Preprocess city data: drop duplicates, remove unnecessary columns, and add columns for revision_id and prediction
city_data.drop_duplicates(subset='page_title')
city_data.drop(columns=['url'], inplace=True)
city_data = city_data.assign(revision_id=None, prediction=None)
city_data.head()

     state           page_title revision_id prediction
0  Alabama   Abbeville, Alabama        None       None
1  Alabama  Adamsville, Alabama        None       None
2  Alabama     Addison, Alabama        None       None
3  Alabama       Akron, Alabama        None       None
4  Alabama   Alabaster, Alabama        None       None

## 4. Gathering Wikipedia Articles for Cities
#### This part of the notebook involves a deep dive into Wikipedia articles associated with cities. We fetch revision IDs and predict article quality using the ORES (Objective Revision Evaluation Service) API. To expedite this process for a large dataset, we employ multithreading.

Defining necessary API endpoints and request headers for Wikipedia API.

In [63]:
# Define necessary API endpoints and request headers for Wikipedia API
API_ENWIKIPEDIA_ENDPOINT = "https://en.wikipedia.org/w/api.php"

EMAIL = "sbutala@uw.edu"

INFO_REQUEST_HEADERS = {
    'User-Agent': EMAIL+', University of Washington, MSDS DATA 512 - AUTUMN 2023',
}

ACCESS_TOKEN = "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIwZjM3MWM0Yzc4MzExZjc0OGQwOTg0ZWU5ODZkYjEwZSIsImp0aSI6ImRlYTY2ZWU1MTRiMWJlMjI0YzQ3NDU2NDVhNmQ1M2NjNDI0ZWRhODE3YWZkZDhmNDA2MWJjZWIxZDAxOWE2ZjFmYjgwMjA5YjhlMDE2ODI1IiwiaWF0IjoxNjk3NTA3ODg2LjM3NjE2MiwibmJmIjoxNjk3NTA3ODg2LjM3NjE2NSwiZXhwIjozMzI1NDQxNjY4Ni4zNzM5NzQsInN1YiI6Ijc0MDIwMzI3IiwiaXNzIjoiaHR0cHM6Ly9tZXRhLndpa2ltZWRpYS5vcmciLCJyYXRlbGltaXQiOnsicmVxdWVzdHNfcGVyX3VuaXQiOjUwMDAsInVuaXQiOiJIT1VSIn0sInNjb3BlcyI6WyJiYXNpYyJdfQ.EyvW7hk3u4AAL-n6_CdgxLmv5rvexcgndr6RrT7KOSMI1JqJeAvwTZqBio5U2HmDTWjiCOfd51S1p5OKC_yQA3QOvYRIenfxx9daxRtdvIrYnwxtrl59H4qQmgfJAdraSMpk5J1IenQj01MsrI8D2mV_es67Q2cAPxAjT41Ul1WmxOrRHK8t7SFJZGLNk2pTluwA54p9XLEg4fKuu1uI6UHD4omW6CCpgBVqXf37sVvSYCXQe-4GDEyGdx_VumgX3hOzEm-ZCa3k1AEkKjfFPLpzLTSC7Fz9vCRenvNtGb05E4NWgRHkFjPvHQzNlmTNKoIolCTFD_ij-Tx7I6H4De15Y8-HIzB9kwJfmueGjkQOWpod6iddPi0w6ChCdJ49Reg5olnLHSUWOzYwAfgqyFh7UBmXM20gd_Wkh79m32I2_7W3wJw_SqGUzDaYMM1EOFZl4EWnMWhWgyzAJcVmi01Wrd638CZxgfEfgIKdciPBkpP_GM-Kas3iKHVmrXlep76gWZZy72wrffu9AyJNzz4dX8ONhSWuNSD2gMEO5PlJy5RdCbHTM0jPX8Z73w76V2VBj1P89EboAnd26D4mb8qxgAqiDljE7__0vleFlFAb80HSIjpuHOtusvzT4pofeBj14hPCxgq22euWsOuhC1ZIzf7W6TmEOigqw6UGm3I"

ORES_REQUEST_HEADERS = {
    'User-Agent': EMAIL+", University of Washington, MSDS DATA 512 - AUTUMN 2023",
    'Content-Type': 'application/json',
    'Authorization': "Bearer "+ACCESS_TOKEN
}

API_ORES_LIFTWING_ENDPOINT = "https://api.wikimedia.org/service/lw/inference/v1/models/enwiki-articlequality:predict"

ORES_REQUEST_DATA = {
    "lang":        "en",     
    "features":    True
}

Defining functions to request ORES score and page info for an article.

In [10]:
# Define a function to request ORES score for an article
def request_ores_score_per_article(article_revid = None):
    
    headers = ORES_REQUEST_HEADERS

    request_data = ORES_REQUEST_DATA

    if article_revid:
        request_data['rev_id'] = article_revid
    else:
        raise Exception("Must provide an article revision id (rev_id) to score articles")
    
    request_url = API_ORES_LIFTWING_ENDPOINT

    try:
        response = requests.post(request_url, headers=headers, data=json.dumps(request_data))
        json_response = response.json()
    except Exception as e:
        print(e)
        json_response = None
    return json_response

# Define a function to request page info for an article
def request_pageinfo_per_article(article_title = None):
    
    if article_title:
        request_template = {
            "action": "query",
            "format": "json",
            "titles": article_title,
            "prop": "info"
        }
    else:
        raise Exception("Must supply an article title to make a pageinfo request.")
    
    try:
        
        response = requests.get(API_ENWIKIPEDIA_ENDPOINT, headers=INFO_REQUEST_HEADERS, params=request_template)
        json_response = response.json()
    except Exception as e:
        print(e)
        json_response = None
    return json_response

Defining a function to process each city and request ORES scores and revision_ids.

In [34]:
# Define a function to process each city and request ORES score and revision_id
def process_city(index, city):
    try:
        resp = request_pageinfo_per_article(city.page_title)
        first_key = next(iter(resp['query']['pages']))
        lastrevid = resp['query']['pages'][first_key]['lastrevid']

        score = request_ores_score_per_article(article_revid=lastrevid)
        pred = score['enwiki']['scores'][str(lastrevid)]['articlequality']['score']['prediction']
        with lock:
            city_data.loc[index, 'revision_id'] = str(lastrevid)
            city_data.loc[index, 'prediction'] = pred
    except Exception as e:
        print(score)
        print(e)
        with lock:
            city_data.loc[index, 'revision_id'] = None
            city_data.loc[index, 'prediction'] = None

Starting concurrent processing of city data to request ORES scores and revision_ids.

In [66]:
# Start concurrent processing of city data to request ORES scores and revision_ids
start_index = 0

with concurrent.futures.ThreadPoolExecutor() as executor:
    futures = []
    for index, city in city_data.iterrows():
        if city.revision_id == None or city.prediction == None:
            futures.append(executor.submit(process_city, index, city))
            start_index += 1
            if start_index%5 == 0:
                time.sleep(1)
    for future in concurrent.futures.as_completed(futures):
        future.result()

Checking if prediction results exist for all the records.

In [101]:
# Prediction results exists for all the records, in case it doesn't feel free to execute the previous cell again or even in case of any network failure
city_data['prediction'].isna().sum()

0

## 5. Merge and Create Dataset
#### In this step we merge both the datasets obtained from step 3 and 4 and merge together to output as a csv file names **wp_scored_city_articles_by_state**.

Before we begin merging, we clean state names by handling special cases.

In [103]:
def clean_state_name(state):
    # Handle 'Georgia_(U.S._state)' case
    if state.startswith('Georgia'):
        return 'Georgia'
    else:
        return state
    
city_data['state'] = city_data['state'].str.replace('_', ' ')
city_data['state'] = city_data['state'].apply(clean_state_name)
city_data['state'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

Here is a list of states which are missing in the Wikipedia's list of US cities by state

In [104]:
print("Missing States from the Wiki list")
print(set(data['STATE'].unique()) - set(city_data['state'].unique()))

Missing States from the Wiki list
{'Connecticut', 'Nebraska'}

Now, we join both the datasets with inner join on the state column. Next we drop one of the state columns to reduce redundancy and then rename columns for consistency.

In [105]:
out_data = pd.merge(data, city_data, left_on='STATE', right_on='state', how='inner')
out_data.drop(columns=['state'])
out_data.rename(columns={'page_title': 'article_title', 'prediction':'article_quality',
                     'STATE':'state','REGION_DIVISION':'regional_division', 'Population':'population'
                     }, inplace=True)
out_data.head()

,population,state,regional_division,state,article_title,revision_id,article_quality
0,5074296,Alabama,South_East South Central,Alabama,"Abbeville, Alabama",1171163550,C
1,5074296,Alabama,South_East South Central,Alabama,"Adamsville, Alabama",1177621427,C
2,5074296,Alabama,South_East South Central,Alabama,"Addison, Alabama",1168359898,C
3,5074296,Alabama,South_East South Central,Alabama,"Akron, Alabama",1165909508,GA
4,5074296,Alabama,South_East South Central,Alabama,"Alabaster, Alabama",1179139816,C

Finally we output the data to a file and also store the output from the Wikipedia API (step 4) in a separate file

In [107]:
file_path = 'data/wp_scored_city_articles_by_state.csv'

# Save the updated DataFrame to CSV
out_data.to_csv(file_path, index=False)

In [108]:
file_path = 'data/city_prediction.csv'

# Save the updated DataFrame to CSV
city_data.to_csv(file_path, index=False)

## Conclusion
#### With the above steps we now have a cleaned dataset to work on and analyze if there is any relation between the population and Wikipedia articles.